:root {
  --main-text-color: #2E2F42;
  --secondary-text-color: #ffffff;
  --ouwer-text-color: #434455;
  --acent-color: #4D5AE5;
  --contener-color: #eeeeee;
  --logo-color-text: #2E2F42;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2E2F42;
  --background-section: #F4F4FD;
  --line-color: #ececec;
  --background-color: #ffffff;
  --logo-footer-color-text: #F4F4FD;
  --down-color-text: #E7E9FC;
}
/* main index */
body {
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
}

/* prittier links */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}
/* site logo */
.logo {
  color: var(--logo-color-text);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
}

.logoweb {
  color: var(--acent-color);
}
/* link site */
.link-nav {
  color: var(--main-text-color);
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.link-nav:hover,
.link-nav:focus {
  color: var(--acent-color);
}
.nav-site, .link-nav.current {
  color: var(--acent-color);
}
/* contacts */
.contacts {
  color: var(--ouwer-text-color);
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: var(--acent-color);
}
/* button */
.order-button {
  color: var(--background-color);
  background-color: var(--acent-color);
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero{
  background-color: var(--background-footer-color);

}

.title-but {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
}
/* our features */
.features {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5; 
  letter-spacing: 0.02em;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-features {
  color: var(--ouwer-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
/* what are we doing */
.doing-section {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px; 
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* our team */
.team{
  background-color: var(--background-section);
}
.team-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
}
.our-work {
  color: var(--ouwer-text-color);
  line-height: 1.5;
}
/* portfolio */

/* button portfolio */
.portfolio-button {
  color: var(--main-text-color);
  background-color: var(--buttons-port-color);
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--background-color);
  background-color: var(--acent-color);
}

/* project portfolio */
.project {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5; 
  letter-spacing: 0.02em;
}
.name-project {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* footer */
.footer {
  background-color: var(--background-footer-color);
}
.logo-footer{
  color: var(--logo-footer-color-text);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
}
.logo-back{
  color: var(--acent-color);
}
/* footer description */
.down{
  color: var(--down-color-text);
  line-height: 1.5;
}